

<div class="row">
	<div class="col-md-12">
		<mat-card>
			<!-- Title of an Card -->
			<mat-card-title>
				Technology Topic Creattion Form
			</mat-card-title>

			<mat-card-content>



				<mat-accordion class="example-headers-align">
					<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Topic Details
							</mat-panel-title>
							<!-- <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description> -->
						</mat-expansion-panel-header>



						<div>
							<mat-form-field class="customFormFields">
								<mat-select placeholder="Select Technology">
									<mat-option value="option">Angular</mat-option>
									<mat-option value="option">Web API</mat-option>
								</mat-select>
							</mat-form-field>



							<mat-form-field class="customFormFields">
								<input matInput [matDatepicker]="picker1" placeholder="Date" >
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

          </div>


					<div>
            	<mat-form-field class="customFormFields">
							<input matInput placeholder="Topic">
          </mat-form-field>

          <mat-form-field class="customFormFields">
						<input matInput placeholder="Sub Topic">
          </mat-form-field>
          </div>


          
          

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Topic 
      </mat-panel-title>
     
    </mat-expansion-panel-header>

    	<mat-form-field class="customFormFields">
								<mat-select placeholder="Select Technology Mode" [(ngModel)]="selectedDocumentMode" name="selTechnologyMode">
									<mat-option *ngFor="let dm of technologyDocumentModes">{{ dm }}</mat-option>
							 
								</mat-select>
							</mat-form-field>

              <ace-editor
              [(text)]="htmlContent"  [mode]="'typescript'"
               #editor style="height:150px;"></ace-editor>



<div class="topic-details-info"> 

  <mat-icon color="primary"> label_important </mat-icon>
  <mat-icon class="greenColor"> done_all </mat-icon>
  <mat-icon> label_off </mat-icon>
  <mat-icon color="warn"> warning </mat-icon>

<div>
  <!-- tag chips -->
  <mat-form-field class="fieldWidth90">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of allTags" [selectable]="true"
             [removable]="true" (removed)="removeTag(tag)">
      {{tag.name}}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Techno tags..."
   
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="addTag($event)">
  </mat-chip-list>
</mat-form-field>
  <!-- tag chips ends here -->
</div>



</div>

    <mat-action-row>
       
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
      <button mat-raised-button color="primary">Save</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Additional Information
      </mat-panel-title>
     
    </mat-expansion-panel-header>

  <mat-tab-group>
    
  <mat-tab label="Comments" class="tab-content-container">
    <div class="tab-content-container">
      <mat-form-field class="fieldWidth90" *ngFor="let comment of allComments; let n = index;">
  <input matInput type="text" placeholder="comment {{ n + 1 }}" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
    </div>
    <div class="tab-content-container-footer">
      <button mat-stroked-button color="primary" (click)="addComment()">
   <mat-icon>add</mat-icon> Add Comment</button>

   <button mat-stroked-button color="primary">
   <mat-icon>save</mat-icon> Save all comments</button>
      </div>
  </mat-tab>
  <mat-tab label="Sources">
     <div class="tab-content-container"> 

      <mat-form-field class="fieldWidth90" *ngFor="let source of allSources; let n = index;">
  <input matInput type="text" placeholder="Source {{ n + 1 }}" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>   
       
     </div>
      <div class="tab-content-container-footer">
      <button mat-stroked-button color="primary" (click)="addSource()">
   <mat-icon>add</mat-icon> Add Source</button>

   <button mat-stroked-button color="primary">
   <mat-icon>save</mat-icon> Save all sources</button>
      </div>
  </mat-tab>
    
</mat-tab-group>





 



    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-raised-button color="primary">Save</button>

  </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

   
			</mat-card-content>
		</mat-card>
	</div>
	
</div>