
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.container{
    margin-top: 20px;
  }
  
  .tab-content-container{
    min-height: 200px;
    margin: 20px 0;
     
  }
  
  .customFormFields{
    width : 45%;
    
  }
  
  .fieldWidth90{
    width : 90%;
  }
  
  .mat-form-field, .mat-stroked-button.mat-primary{
    margin: 0 15px;
    
  }
  
  .tab-content-container-footer{
    float: right;
    padding: 10px;
    margin:5px;
    
    border-top: 1px solid gray; 
    
    
  }
  
  .greenColor{
    color:green;
  }
  
  